<h1>Here is the list of your bookings, <%= current_user.first_name %>!</h1>
<p><% 50.times do || %>
<i class="fa-solid fa-paw fa-bounce"></i>
<% end %></p>
<div class="wrap">
  <div class="container">
    <% @bookings.each do |booking| %>
      <div class="row-1">
        <div class="col">
          <p class="filler">
            <div class="cards">
              <div class="card-category">
                  <div class="d-flex mb-2">
                  <div>
                  <%= cl_image_tag booking.pad.photo.key, width: 100, class: "pet-image" %>
                    <div class="div", style="float: bottom">
                      <p><strong>Accommodates:</strong></p>
                        <h5 style="text-align: center">
                          <% if booking.pad.welcome_species.downcase.include? 'dogs' %>
                            <%= 'ðŸ¶'  %>
                          <% end %>
                          <% if booking.pad.welcome_species.downcase.include? 'lizards' %>
                            <%= 'ðŸ¦Ž'  %>
                          <% end %>
                          <% if booking.pad.welcome_species.downcase.include? 'birds' %>
                            <%= 'ðŸ¦œ'  %>
                          <% end %>
                          <% if booking.pad.welcome_species.downcase.include? 'snakes' %>
                            <%= 'ðŸ'  %>
                          <% end %>
                          <% if booking.pad.welcome_species.downcase.include? 'cats' %>
                            <%= 'ðŸˆ'  %>
                          <% end %>
                        </h5>
                      </div>
                      </div>
                    <div>
                      <p class="card-text"><strong>Name:</strong> <%= booking.pad.title.capitalize %></p>
                      <p class="card-text"><strong>Address:</strong> <%= booking.pad.address %></p>
                      <p class="card-text"><strong>Comment:</strong> <%= booking.comment %></p>
                      <p class="card-text"><strong>From:</strong> <%= booking.start_date %></p>
                      <p class="card-text"><strong>To:</strong> <%= booking.end_date %></p>
                      <p class="card-text"><strong>Cost:</strong> $<%= (booking.end_date - booking.start_date).to_f * booking.pad.price_per_night %></p>
                      <p class="card-text"><strong>Status:</strong>
                      <% if booking.status.downcase == "pending" %>
                        <p>Pending</p>
                      <% else %>
                        <%= booking.status %>
                      <% end  %></p>
                      <p class= btn btn><strong>Delete</strong></p>
                    </div>
                  </div>
                  <p><% 50.times do || %>
                  <i class="fa-solid fa-paw fa-bounce"></i>
                  <% end %></p>
                <% end %>
                    </div>
                    </div>
        </div>
    </div>
  </div>
</div>


<%= link_to "Go back", pads_path, class: "btn" %>
