<p>These are your bookings, <%= current_user.first_name %>!</p>
<p><% 50.times do || %>
<i class="fa-solid fa-paw fa-bounce"></i>
<% end %></p>
<div= class="wrap">
  <div class="container">
    <% @bookings.each do |booking| %>
      <div class="row-1">
        <div class="col">
          <p class="filler">
            <div class="cards">
              <div class="card-category">
                  <div class="d-flex mb-2">
                  <%= image_tag "modern-dog-kennel-au.jpg", class: "pet-image" %>
                    <div>
                      <p>Name: <%= booking.pad.title.capitalize %></p>
                      <p>Address: <%= booking.pad.address %></p>
                      <p>Comment: <%= booking.comment %></p>
                      <p>Status: <%= booking.status %> Pending...</p>
                    </div>
                  </div>




                  <p><% 50.times do || %>
                  <i class="fa-solid fa-paw fa-bounce"></i>
                  <% end %></p>
                <% end %>
                    </div>
                    </div>
        </div>
    </div>
  </div>
</div>
