<p>These are your bookings, <%= user.first_name %>!</p>
<% @bookings.each do |booking| %>
  <%= booking.pad.title %>
  <%= booking.pad.address %>
  <%= booking.comment %>
  <%= booking.status %>
<% end %>
