<p>These are your bookings, <%= current_user.first_name %>!</p>
<p><% 50.times do || %>
<i class="fa-solid fa-paw fa-bounce"></i>
<% end %></p>
<div= class="wrap">
  <div class="container">
    <% @bookings.each do |booking| %>
      <div class="row-1">
        <div class="col">
          <p class="filler">
            <div class="cards">
              <div class="card-category">
                  <p>Name: <%= booking.pad.title.capitalize %></p>
                  <p>Address: <%= booking.pad.address %></p>
                  <p>Comment: <%= booking.comment %></p>
                  <p>Status: <%= booking.status %> Pending...</p>
                  <img src="https://source.unsplash.com/random/"/style="object-fit:contain;
                    width:200px;
                    height:300px;
                    border: solid 1px #CCC"/>
                  <i class="fa-solid fa-file-pen"></i>
                  <p><% 50.times do || %>
                  <i class="fa-solid fa-paw fa-bounce"></i>
                  <% end %></p>
                <% end %>
                    </div>
                    </div>
        </div>
    </div>
  </div>
</div>
