<h5><%= link_to pad.title, pad_path(pad), style: 'color:#FA009C; text-decoration:none' %></h5>
<p><%= pad.address %></p>
<h5>
<% if pad.welcome_species.include? 'dogs' %>
  <%= 'ðŸ¶'  %>
<% end %>
<% if pad.welcome_species.include? 'lizards' %>
  <%= 'ðŸ¦Ž'  %>
<% end %>
<% if pad.welcome_species.include? 'birds' %>
  <%= 'ðŸ¦œ'  %>
<% end %>
<% if pad.welcome_species.include? 'snakes' %>
  <%= 'ðŸ'  %>
<% end %>
<% if pad.welcome_species.include? 'cats' %>
  <%= 'ðŸˆ'  %>
<% end %>
</h5>