<div class="row">
  <% @pads.each do |pad| %>
    <div class="col-4 mb-3">
      <div class="card">
        <%= image_tag (@padpictures.sample), width: 100, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= pad.title %></h5>
          <p class="card-text"><%= pad.description %><p>
          <hr>
          <%= link_to "Book Now", new_pad_booking_path(pad), class: "btn" %>
          <hr>
          <div class="d-flex justify-content-between">
            <h5>$<%= pad.price_per_night %></h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>