  <h1 class="text-center">Pad Details</h1>

  <div align="middle">
  <%= image_tag("modern-dog-kennel-au.jpg", class: "paw-star") %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Title</th>
            <td><%= @pad.title %></td>
          </tr>
          <tr>
            <th>Location</th>
            <td><%= @pad.address %></td>
          </tr>
          <tr>
            <th>Owner</th>
            <td><%= @pad.user.first_name + " " + @pad.user.last_name %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @pad.user.email %></td>
        </tr>
          <tr>
            <th>Rating</th>
            <td>
              <span style="color: #FA009C;">
                <i class="fa-solid fa-paw fa-bounce"></i>
                <i class="fa-solid fa-paw fa-bounce"></i>
                <i class="fa-solid fa-paw fa-bounce"></i>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to "Book Now", new_pad_booking_path(@pad), class: "btn" %>
  <%= link_to "Back to Pads", pads_path, class: "btn" %>
