  <h1 class="text-center">Pad Details</h1>

  <div align="middle">
  <%= image_tag("modern-dog-kennel-au.jpg", class: "paw-star") %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Title</th>
            <td><%= @pad.title %></td>
          </tr>
          <tr>
            <th>Location</th>
            <td><%= @pad.address %></td>
          </tr>
          <tr>
            <th>Owner</th>
            <td><%= @pad.user.first_name + " " + @pad.user.last_name %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @pad.user.email %></td>
        </tr>
          <tr>
            <th>Rating</th>
            <td>
              <span style="color: #FA009C;">
                <i class="fa-solid fa-paw fa-bounce"></i>
                <i class="fa-solid fa-paw fa-bounce"></i>
                <i class="fa-solid fa-paw fa-bounce"></i>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<div class="bg-white rounded p-3 shadow">
        <h3> Make a new booking </h3>
        <%= simple_form_for [@pad, @booking] do |f| %>
          <%= f.input :number_of_pets %>
          <%= f.input :start_date, html5: true %>
          <%= f.input :end_date, html5: true %>
          <%= f.input :comment %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>

        <%= link_to "Go back", pads_path,class: "btn" %>
        </div>
