<div class="container py-5">
  <div class="card w-100", style="position: relative">
    <div class="row g-0">
      <div class="col-md-4">
      <% if @pad.photo.key %>
        <%= cl_image_tag @pad.photo.key, class: "pad-img rounded-start h-100", style: "object-fit: cover" %>
      <% else %>
        <%= image_tag @padpictures.sample, class: "pad-img rounded-start h-100", style: "object-fit: cover" %>
      <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title"><%= @pad.title %></h2>
          <p class="card-text"><%= @pad.address %></p>
          <p class="card-text"><strong>Description</strong><br><%= @pad.description %></p>
          <p class="card-text"><strong>We accomodate</strong><br><%= JSON.parse(@pad.welcome_species).join(', ').capitalize %></p>
          <p class="card-text"><strong>Capacity</strong><br><%= @pad.capacity %></p>
          <div class="updated">
            <p class="card-text"><small class="text-muted">Last updated <%= ((Time.now - @pad.updated_at)/60).round %> minutes ago</small></p>
          </div>
          <div class="price-circle", style="position: absolute; bottom: 8px; right: 8px;">
            $<%= @pad.price_per_night.to_i %>
          </div>
          <div class="edit-btn">
              <% if @pad.user == current_user %>
              <%= link_to "⟲ Back to Pads", pads_path, class: "btn mx-3" %><%= link_to "Edit", edit_pad_path, class: "btn" %>
              <% end %>
          </div>
          <% if @pad.user == current_user %>
            <% if @pad.availability %>
              <div class="availability-true-indicator">
                <h3 style="display: inline">&nbsp✔︎ AVAILABLE&nbsp</h3>
              </div>
            <% else %>
              <div class="availability-false-indicator">
                <h3 style="display: inline">&nbsp✖ CURRENTLY UNAVAILABLE&nbsp</h3>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @pad.user != current_user %>
    <div class="bg-white rounded p-3 shadow w-100">
      <h3>Make a new booking </h3>
      <%= simple_form_for [@pad, @booking] do |f| %>
        <%= f.input :number_of_pets %>
        <%= f.input :start_date, html5: true %>
        <%= f.input :end_date, html5: true %>
        <%= f.input :comment %>
        <%= f.submit "Book This Pad!", class: "btn mb-3" %>
      <% end %>
      <%= link_to "⟲ Back to Pads", pads_path, class: "btn" %>
    </div>
  <% end %>
</div>
