
<div class="profile-section">
  <div class="profile-image">
    <%= image_tag current_user.photo, class: "profile-pic" %>
  </div>

  <div class="profile-details">
    <h2 class="profile-name">
      <%= current_user.first_name %>
    </h2>

    <p class="profile-email">
      <%= current_user.email %>
    </p>

  </div>
</div>

<% if @pet_sitter %>
  <%= link_to "Manage Bookings", petsitter_bookings_path, class: "btn btn-primary" %>
  <%= link_to "View Bookings I Made", bookings_path, class: "btn btn-primary" %>

<% else %>
  <%= link_to "View Bookings I Made", bookings_path, class: "btn btn-primary" %>
<% end %>
